$container-background-color: #232428;
$column-head-background-color: #383940;
$side-textarea-text-color: #7e83bf;
$side-textarea-background-color: #2c2c2f;
$formatters-background-color: $column-head-background-color;
$formatter-background-color: #4d4f58;
$formatter-type-background-color: #343434;
$formatter-hover-background-color: #404147;
$formatter-active-background-color: #393939;
$formatter-active-type-background-color: #494949;
$formatter-dragging-background-color: #212121;
$formatter-dragging-type-background-color: $formatter-active-type-background-color;
$scroll-bar-corner-background-color: #1d1c1f;
$scroll-bar-track-background-color: #19181b;
$scroll-bar-bar-background-color: #372d53;
$scroll-bar-track-border-color: red; // 上書き定義されるので実質的にはデバッグ用
$scroll-bar-bar-border-color: #493b6c;
$resize-bar-background-color: $column-head-background-color;
$resize-bar-hover-background-color: #747981;
$resize-bar-flash-phase1-background-color: $resize-bar-hover-background-color;
$resize-bar-flash-phase2-background-color: #92949f;
$resize-bar-flash-phase3-background-color: #dee6ee;
$resize-bar-flash-phase4-background-color: $resize-bar-flash-phase1-background-color;
$using-test-source-toggle-text-color: #777;
$using-test-source-toggle-background-color: $side-textarea-background-color;
$using-test-source-toggle-check-mark-border-color: #444249;
$using-test-source-toggle-hover-background-color: $column-head-background-color;
$using-test-source-toggle-checked-text-color: #eee;
$using-test-source-toggle-checked-background-color: $column-head-background-color;
$using-test-source-toggle-checked-activating-check-mark-border-color: #cab6ec;
$using-test-source-toggle-checked-check-mark-border-color: #827b8e;
$using-test-source-toggle-checked-hover-background-color: $formatter-background-color;
